
body {
  display: flex;
  justify-content: center;
  background-color: grey;
  padding-top:10%;
}


img{
  animation:4s rotate infinite linear;
}

@keyframes rotate{
  100%{transform:rotate(1turn)}
} 
  

p{
  display:flex;
  justify-content:center;
}
